@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 6%;
    --foreground: 0 0% 96%;
    --card: 0 0% 9%;
    --card-foreground: 0 0% 96%;
    --popover: 0 0% 8%;
    --popover-foreground: 0 0% 96%;
    --primary: 152 100% 50%;
    --primary-foreground: 0 0% 4%;
    --secondary: 0 0% 14%;
    --secondary-foreground: 0 0% 96%;
    --muted: 0 0% 16%;
    --muted-foreground: 0 0% 66%;
    --accent: 152 100% 50%;
    --accent-foreground: 0 0% 4%;
    --destructive: 0 78% 58%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 19%;
    --input: 0 0% 18%;
    --ring: 152 100% 50%;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }
}
